<footer>
    <p>Powered by</p>
    <img src="https://user-images.githubusercontent.com/57795294/109191560-95629e00-7796-11eb-8d1c-12ddfdf91bd6.png">
    <p>&copy; Lisa Oude Elferink - 2021</p>
</footer>