<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%= title %>
  </title>

  <link rel="icon" type="image/png" sizes="16x16" href="/images/gifinder_favicon.png">

  <!-- dev css -->
  <!-- <link href="/styles/styles.css" rel="stylesheet" /> -->

  <!-- minified css -->
  <link href="/buildcss/styles.css" rel="stylesheet" />

  <link rel="manifest" href="/manifest.json" />

  <script src="/scripts/script.js"></script>

</head>