<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<main>
  <body>
    <h1>404</h1>
    <h2>That didn't go as planned :(</h2>

    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/footer.ejs') %>

  </body>
</main>

</html>
