<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<main>
  <body>
    <h1>About</h1>
    <h2>This is the about page</h2>

    <%- include('./partials/nav.ejs') %>

    <div>
      <p> Hello, just some text here! </p>
      <p> Hello, just some text here! </p>
      <p> Hello, just some text here! </p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
  </body>
</main>
  
</html>
