<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<main>
  <body>
    <h1>Blog</h1>
    <h2>Hello :)</h2>

    <%- include('./partials/nav.ejs') %>

    <div>
      <p> Welcome to the blog! </p>
      <p> Welcome to the blog! </p>
      <p> Welcome to the blog! </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</main>

</html>
