<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

  <body>
    <main>
      <%- include('./partials/nav.ejs') %>

      <%- include('./partials/header.ejs') %>

      <section>
        <section>

          <!-- add img src -->
          <img src="">
        </section>

        <h3>Gif Details</h3>

        <!-- add posted time -->
        <h4>Posted at</h4>
        <p></p>

        <!-- add link as href & as p -->
        <h4>Orginal source</h4>
        <a href="">
          <p></p>
        </a>

        <!-- add giphy link to href-->
        <a href="">
          <h4>Wanna view on Giphy.com? Click!</h4>
        </a>

      </section>

      <%- include('./partials/footer.ejs') %>
    
    </main>
  </body>
  
</html>
