/*****************************************/
/*                 GENERAL               */
/*****************************************/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

* {
  margin: 0rem;
  padding: 0rem;
}
  
:root {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  --default-width: 15em;
  --default-height: 15em;
  --light-color: #ffffff;
  --dark-color: #181818;
}
  
body {
  background: linear-gradient(-225deg, #050044, #000AFF, #1572FF, #64B5FF);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  width: 85%;
  margin: 0 auto;
  margin-top: 3em;
}
  
  
  
/********************/
/*    TYPOGRAPHY    */
/*******************/
h1,
h2,
h3,
h4,
p,
a,
button {
  font-family: 'Open Sans', sans-serif;
  color: var(--light-color);
}


h1 {
  font-weight: 900;
  font-size: 4em;
}
  
h2 {
  font-weight: 800;
  font-size: 1.75em;
}
  
h3 {
  font-weight: 800;
  font-size: 1.5em;
  margin: 0.5em 0;
}
  
h4 {
  font-weight: 600;
  font-size: 1.25em;
}

p {
  font-weight: 400;
  font-size: 1em;
}
  
  
/*****************************************/
/*           HOME PAGE STYLING           */
/*****************************************/
header {
  margin: auto;
  height: 14em;
}

/* section with gifs */
#gifContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 4em;
  margin-bottom: 3em;
}
  
/* gifs */
#gifContainer a {
  max-width: var(--default-width);
  max-height: var(--default-height);
}
    
#gifContainer img {
  max-width: 15em;
  max-height: 15em;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(40, 40, 40, 0.4);
}
  
/* hover over gifs */
#gifContainer img:hover {
  transform: scale(1.035);
  box-shadow: 0px 0px 20px 10px rgba(225, 225, 225, 0.4);
}
  

/*****************************************/
/*          DETAIL PAGE STYLING          */
/*****************************************/

/* back button */
.back {
  width: 5em;
  height: 5em;
}
  
.back div {
  position: relative;
  top: 18px;
  left: 5px;
  width: 40px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 2em;
}
  
.back div::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -5px;
  width: 20px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: rotate(45deg)
}
  
.back div::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  width: 20px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: rotate(-45deg)
}

.back div p {
  width: 50px;
  height: auto;
}
  
  
/* section */
#detail #all {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
    
/* gifs */
#detail #all img {
  width: calc(1.5 * var(--default-width));
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(40, 40, 40, 0.4);
  margin-right: 3em;
}

#detail p {
  margin-bottom: 1em;
}
  
#detail a {
  text-decoration: none;
}


/*****************************************/
/*             OFFLINE PAGE              */
/*****************************************/
/* back button */
.back-nav {
  width: 200px;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
  
.back-nav div {
  position: relative;
  top: 18px;
  left: 5px;
  width: 40px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 2em;
}
  
.back-nav div::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -5px;
  width: 20px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: rotate(45deg)
}
  
.back-nav div::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  width: 20px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: rotate(-45deg)
}

.back-nav div p {
  width: 50px;
  height: auto;
}
  
  
  
/*****************************************/
/*                 FOOTER                */
/*****************************************/
footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5em 0em 1em 0em;
}
  
footer p {
  color: black;
  font-size: 0.8em;
  margin: 0.6em;
}
  
footer img {
  width: calc( 0.35 * var(--default-width));
  height: auto;
  margin-bottom: 0.75em;
}

  
/*****************************************/
/*                ANIMATIONS             */
/*****************************************/
/* background gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
    }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*****************************************/
/*              SMALL SCREEN             */
/*****************************************/
@media screen and (max-width: 660px) {
  
  span {
    left: 4em;
  }
  
  #detail header {
    margin-bottom: 3em;
  }
  
  #detail header h2 {
    font-size: 1.5em;     
  }
    
  #detail #all {
    flex-direction: column;
  }
  
  #detail section img {
    width: var(--default-width);
    height: auto;
    margin-bottom: 2em;
  }
}
  